<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-indoors" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>indoors</name>
    <js-module name="indoors" src="www/indoors.js">
        <clobbers target="cordova.plugins.indoors" />
    </js-module>
</plugin>
